html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(35,84,24) 50%, rgb(246,196,68) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.25;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

section {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50px;
  left: auto;
  right: auto;
  z-index: -2;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

a#resume {
  font-size: 28px;
  text-decoration: none;
  border-radius: 3px;
  background: #be552e;
}

#about {
  opacity: 0;
  height: 100vh;
  width: 100%;
  background: rgb(141,147,69);
  padding-top: 65px; 
}

#portfolio {
  opacity: 0;
  height: 100vh;
  width: 100%;
  background: rgb(141,147,69);
  padding-top: 65px; 
  z-index: 1;
}

#contact {
  opacity: 0;
  height: 100vh;
  width: 100%;
  background: rgb(141,147,69);
  padding-top: 65px; 
}

.secspace {
  width: 80%;
  height: 100%;
  margin: auto;
  background: whitesmoke 50%;
  border-radius: 10px;
}

.innersecspace {
  width: 30%;
  height: inherit;
}

.icon {
  width: 50px;
}

#skills {
  width: 90%;
  margin: auto;
}